html { font-family: Arial, Helvetica, sans-serif; font-size: 16px; }
body { min-width:780px; padding: 16px; background-color:#19191a}

.header {
    height: 80px;
    min-width: 600px;
    max-width: 1236px;
    margin: 0 auto;
    margin-bottom: 36px;
    background-color: #222327;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: white;
    padding: 0px 32px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.cards {
    max-width: 1304px;
	margin: 0 auto;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
}

.card {
    background-color: #222327;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: white;
    text-align: center;
	color: white;
    font-weight: bold;
    height: 532px;
	padding: 2px 0px 0px 0px;
}
